/*{
    margin: 0;
    padding: 0;
}
*/
.margin_cart{
    margin-right: 5px;
    margin-top: 5px;
}


.navbar_color{
    background-color:#EAF205	;
}

.navbar-text{
    color:  #340040;
    font-weight: bold;
    /*font-family: sans-serif;*/
}

.navbar-text:hover{
    color: #ffffff;
    transition: .4s;
}


.margine_bottom{
    margin-bottom:7rem;
    text-align: center;
    color:#340040;
}

.margin_top{
    margin-top:  7rem;
}

.shadow{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 92%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.footer{
    background-color: #340040;
    margin-top: 40px;
}
.footer img {
    max-width: 20%;
    height: auto;
    margin: 10px auto;
    display: flex; 
    flex-direction: column; 
    align-items: flex-end;
}

a{
    text-decoration: none;
}
a:hover{
    color: #05F26C;
    transition: .4s;
}
.icons{
    margin-left: 25px;
    color: #05F26C;
}

.intro {
    height: 100%;
  }
  
  @media (min-height: 300px) and (max-height: 450px) {
    .intro {
      height: auto;
    }
  }
  
 
  
  .fas.fa-laptop {
    font-size: 19rem;
  }
  
  @media (max-width: 991px) {
    .fas.fa-laptop {
      font-size: 12rem;
    }
  };

  .border_u{
   
    border-bottom: 1px sold black;
  }